body {
    font-family: "Roboto", sans-serif;
    line-height: rem(24);
    letter-spacing: 1.5;
}

.title {
    font-size: rem(34);
    font-weight: 700;
}

.robotoMono {
    font-family: "Roboto Mono", monospace;
}

.bigNumber {
    font-size: rem(80);
}
